{
    "exclude": [
    ],
    "include": [
      "**/api/models",
      "**/api/controllers",
      "**/api/services",
      "**/api/hooks",
      "!**/api/services/protocols",
      "../jbrowse/plugins/JBClient"

    ]
}
 